<header>
  <h1><%= link_to '質問BOX!!', root_path %></h1>
  <nav id="top-nav">
    <ul>
      <li><%= link_to '質問する', new_question_path %></li>
      <!-- <li><a>ユーザー登録</a></li>
      <li><a>ログイン</a></li> -->
    </ul>
  </nav>
</header>
