<% if flash[:notice] %>
<div class="msg-slide">
  <p id="js-show-msg" style="display:none;"><%= flash[:notice] %></p>
</div>
<% end %>
<% if flash[:alert] %>
<div class="msg-slide-error">
  <p id="js-show-msg" style="display:none;"><%= flash[:alert] %></p>
</div>
<% end %>
